/* ex 1 */
.title {
    font-size: 3rem;
}

@media screen and (max-width:1024px) {
    .title {
        font-size: 2.5rem;
    }
}

@media screen and (max-width:700px) {
    .title {
        font-size: 2rem;
    }
}

@media screen and (max-width:400px) {
    .title {
        font-size: 1rem;
    }
}

/* ex 2 */

body {
    margin: 0;
    background-color: rgb(177, 163, 163);
}

.bg-img {
    height: 50vh;
    width: 100vw;
    display: grid;
    align-content: center;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/bc8a3e51-68fd-4e99-89c6-1857948d8544/dgx11el-52dd2dec-fbfd-4752-a0c6-29ca073ae75a.png/v1/fill/w_1280,h_718,q_80,strp/reflections_in_nature_by_inkimagine_dgx11el-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzE4IiwicGF0aCI6IlwvZlwvYmM4YTNlNTEtNjhmZC00ZTk5LTg5YzYtMTg1Nzk0OGQ4NTQ0XC9kZ3gxMWVsLTUyZGQyZGVjLWZiZmQtNDc1Mi1hMGM2LTI5Y2EwNzNhZTc1YS5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.nzYRbkRFhSlFJgnd1lDTVLFKlksXafbJNoph30GOw48');
    color: white;
    font-weight: 700;
    text-align: center;
}

/* ex 3 */

.container {
    display: grid;
    grid-template-areas: 
    'header header header'
    'sidebar content content'
    'footer footer footer';
    grid-template-rows: 100px calc(100vh - 200px) 100px;
    margin-top: 15px;
}

.containerHeader {
    grid-area: header;
    padding: 16px 36px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 0 15px;

    a {
        text-decoration: none;
        color: white;
    }
}

.containerSidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    border-right: 1px solid gray;
    padding: 0 15px;
  
    p {
        margin: 5px 0;
    }
}

.containerContent {
    grid-area: content;
    text-align: center;
    padding: 0 15px;

    section {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    article {
        width: 200px;
    }
}

.containerFooter {
    grid-area: footer;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 15px;

    img {
        width: 45px;
        height: 40px;
        border-radius: 50%;
    }
}

.item {
    border: 1px solid gray;
}

.navigation {
    display: flex;
    gap: 16px;
    font-size: 1.5rem;
}




